/XYH.Tools.HttpTool/bin
/XYH.Tools.HttpTool/obj
/XYH.Tools.HttpTool.Test/obj
/XYH.Tools.HttpTool.Test/bin
/XYH.Tools.HttpTool.TestAPI/bin
/XYH.Tools.HttpTool.TestAPI/obj
/XYH.Tools.HttpTool.TestAPI/Properties
/XYH.Tools.HttpTool.TestModel/obj
/XYH.Tools.HttpTool.TestModel/bin
